{% comment %}
Footer for lesson pages.
{% endcomment %}

{% include gh_variables.html %}


<footer>
	<hr />
	<div class="row">
		<div class="col-md-6" align="left">
			<h4>
				Copyright The XLab &copy; {{ 'now' | date: "%Y" }}</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" align="center">
			Usando <a href="https://github.com/carpentries/styles/">The Carpentries style</a>
			versão <a href="https://github.com/carpentries/styles/releases/tag/v9.5.3">9.5.3</a>.
		</div>
	</div>
</footer>
